@charset "UTF-8";

ul.catalogue {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

ul.catalogue > li a {
	display: block;
	color: inherit;
}

ul.catalogue > li {
	display: flex;
	flex-direction: column;
}

ul.catalogue span {
	display: block;
}

span.cat_name {
	position: relative;
}

span.cat_name:after {
	content: "";
	position: absolute;
	background-color: rgba(254, 96, 124, 1);
	width: 50px;
	height: 2px;
	left: 0;
	bottom: 5px;
}

a.cat_img {
	overflow: hidden;
}

a.cat_img > img {
	max-width: 100%;
	max-height: 100%;
}

a.cat_img:hover > img {
	transform: scale(1.1);
	transition: all 0.5s;
}

a.cat_info {
	flex: 1 1 auto;
}

a.cat_more {
	width: 180px;
	height: 50px;
	background-color: rgba(254, 96, 129, 1);
	border-radius: 5px;
	font : bold 18px/50px "SFUIDisplay-Regular", Arial, sans-serif;
	color: rgba(255, 255, 255, 1) !important;
	text-align: center;
	text-decoration: none;
	margin-top: 25px;
}

a.cat_more:hover {
	background-color: rgba(252, 71, 110, 1);
	transition : all 0.25s ease;
}

.pagination {
	width: 100% !important;
	margin-bottom: 0 !important;
}

.pagination > ol > li > a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

li.prev {
	margin-right: 20px;
}

li.next {
	margin-left: 20px;
}

li.prev > a:before {
	content: "\F104";
	font-family: "Font Awesome";
	position: absolute;
	color: rgba(254, 69, 129, 1);
	text-align: center;
	font-size: 24px;
	width: 100%;
	height: 100%;
}

li.next > a:before {
	content: "\F105";
	position: absolute;
	font-family: "Font Awesome";
	color: rgba(254, 69, 129, 1);
	text-align: center;
	font-size: 24px;
	width: 100%;
	height: 100%;
}

li.prev > a:after,
li.next > a:after {
	content: "";
	position: absolute;
	background-color: rgba(254, 96, 129, 0.75);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform : scale(0, 0);
	transition : all 0.25s ease;
}

li.prev:hover > a:after,
li.next:hover > a:after {
	transform : scale(1, 1);
}

li.prev:hover > a:before,
li.next:hover > a:before {
	color: rgba(255, 255, 255, 1);
	z-index: 3;
	transition : all 0.25s ease;
}

.pagination > ol {
	width: 290px;
	margin: 10px auto;
	padding: 0;
	counter-reset: my-counter;
}

.pagination > ol > li {
	display: inline-block;
	font: normal 18px/40px "SFUIDisplay-Regular", Arial, sans-serif;
	width: 40px;
	height: 40px;
}
.pagination > ol > li:nth-child(2),
.pagination > ol > li:nth-child(3) {
	margin-right: 5px;
}

ol > li.page > a:before {
	content: counter(my-counter);
	counter-increment: my-counter;
	position: absolute;
	font: normal 18px/40px "SFUIDisplay-Regular", Arial, sans-serif;
	width: 100%;
	height: 100%;
	text-align: center;
	transition : all 0.25s ease;
}

ol > li.selected > a:before {
		color: rgba(255, 255, 255, 1);
		z-index: 3;
}

li.page:not(.selected) > a:after {
	content: "";
	position: absolute;
	background-color: rgba(254, 96, 129, 0.75);
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 50%;
	transform : scale(0, 0);
	transition : all 0.25s ease;
}

li.page:not(.selected):hover > a:after {
	transform : scale(1, 1);
}

ol > li.page:hover > a:before {
	color: rgba(255, 255, 255, 1);
	z-index: 3;
}

ol > li.selected > a:after {
	content: "";
	position: absolute;
	background-color: rgba(254, 96, 124, 1);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

@media only screen and (min-width: 961px) and (max-width: 1240px) {

	ul.catalogue > li {
		width: calc((100% - 80px) / 3);
		margin-right: 20px;
	}

	ul.catalogue > li:nth-child(3n+1) {
		margin-left: 20px;
	}
}

@media only screen and (min-width: 1241px) {
	ul.catalogue > li {
		width: calc((100% - 40px) / 3);
	}

	ul.catalogue > li:nth-child(3n+1),
	ul.catalogue > li:nth-child(3n+2) {
		margin-right: 20px;
	}
}
@media only screen and (min-width: 961px) {

	ul.catalogue {
		margin: 50px auto 0;
	}

	ul.catalogue > li {
		margin-bottom: 50px;
	}

	span.cat_name {
		font : normal 24px/30px "SFUIDisplay-Regular", Arial, sans-serif;
		padding-top: 20px;
		padding-bottom: 25px;
	}

	span.cat_descr {
		font : normal 16px/24px "SFUIDisplay-Regular", Arial, sans-serif;
		color: rgba(152, 152, 152, 1);
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (min-width: 481px) and (max-width: 960px) {

	ul.catalogue {
		margin-top: 30px;
	}

	ul.catalogue > li {
		width: calc((100% - 60px) / 2);
		margin-bottom: 30px;
	}

	ul.catalogue > li:nth-child(odd) {
		margin-left: 20px;
		margin-right: 20px;
	}

	ul.catalogue > li:nth-child(even) {
		margin-right: 20px;
	}

	span.cat_name {
		font : normal 20px/26px "SFUIDisplay-Regular", Arial, sans-serif;
		padding-top: 20px;
		padding-bottom: 25px;
	}

	span.cat_descr {
		font : normal 16px/20px "SFUIDisplay-Regular", Arial, sans-serif;
		color: rgba(152, 152, 152, 1);
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

@media (max-width: 480px) {

	ul.catalogue {
		margin-top: 20px;
	}

	ul.catalogue > li {
		width: 100%;
		margin: 10px 20px;
	}

	span.cat_name {
		font : normal 18px/24px "SFUIDisplay-Regular", Arial, sans-serif;
		padding-top: 20px;
		padding-bottom: 25px;
	}

	span.cat_descr {
		font : normal 16px/16px "SFUIDisplay-Regular", Arial, sans-serif;
		color: rgba(152, 152, 152, 1);
		padding-top: 10px;
		padding-bottom: 10px;
	}

	a.cat_more {
		align-self: center;
	}
}
